<section>
  <div class="container">
    <h1>Find your way home as you want</h1>

    <p>
      We help you get your dream house with us , we are the professional house
      consultant.
    </p>
    <div class="input-group">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#wordpress"></use>
        </svg>
      </span>
      <input type="text" class="input" placeholder="Enter Your Location" />
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#wordpress"></use>
        </svg>
      </span>
    </div>
    <div class="imgs">
      <div><img src="images/house1.jpg" alt="" /></div>
      <div><img src="images/house2.jpg" alt="" /></div>
    </div>
  </div>
</section>
